.header{
    z-index: 1000!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4f2d7f;
    color: white;
    padding: 1rem;
    display: flex;
    align-content: space-around;

//    box-shadow: 5px 5px 5px #ccc;
}

.header > h2,button{
    flex: auto;
}
.header button{
    max-width: 6rem;;
}