<div class="activity">
    <app-header></app-header>
    <div class="container">
    <app-sidebar>
    </app-sidebar>
    <div class="rightSide">
        
        <div class="form-container">
            <div style="text-align: right;" class="form-title">
            <h5>A la fecha: 21-02-2021 usted tiene un saldo de: ${{totalAmount | number}}</h5>
            </div>
            
          
            <table class="table">
                <thead>
    
                  <tr>
                    <td scope="col">#</td>
                    <td scope="col">Fecha</td>
                    <td scope="col">Tipo de Transaccion</td>
                    <td scope="col">Descripcion</td>
                    <td scope="col">Abono/Cargo</td>
                    <td scope="col">Saldo</td>
                  </tr>
          
                </thead>
                <tbody>
                  <tr *ngFor="let tx of transactions">
                    <th scope="row">{{tx.id}}</th>
                    <td colspan="1">{{tx.createdAt | date:'short'}}</td>
                    <td>{{tx.type}}</td>
                    <td colspan="1">{{tx.description}}</td>
                    <td colspan="1" style="text-align: right;" [ngClass]="{'positive':tx.amount>0,'negative':tx.amount<0}">${{tx.amount |number}}</td>
                    <td colspan="1" style="text-align: right;">${{tx.currentAmount | number}}</td>

                  </tr>

                </tbody>
                <p *ngIf="transactions.length==0">No tiene movimientos registrados</p>
              </table>
              
              <button class="btn btn-light" onclick="window.print()">Imprimir</button>
        
        </div>      
    </div>




 </div>   
    

</div>
