
.positive{
color: green;
}
.negative{
color:red;
}
.table{
margin-top: 2rem;
}

td,th{
padding-right:  20px;
padding-top: 2px;
padding-bottom: 2px;
}

@media print {
.activity{
    visibility: hidden;
}
.table {
    visibility: visible;
}
.table {
    position: absolute;
    left: 0;
    top: 0;
}
}