<div class="activity">
    <app-header></app-header>
    <div class="container">
    <app-sidebar>
    </app-sidebar>
    <div class="rightSide">
        
        <div class="form-container">
          

            <h4 >Transfiere dinero</h4>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre Destinatario: </label>
                    <input class="form-control" type="text"   [(ngModel)]="name" name="name">
                </div> 
                <div class="mb-3">
                    <label for="rut" class="form-label">RUT Destinatario: </label>
                    <input class="form-control" type="text"   [(ngModel)]="rut" name="rut">
                </div> 
                <div class="mb-3">
                    <label for="money" class="form-label">Descripcion (Opcional): </label>
                    <input class="form-control" type="text"   [(ngModel)]="description" name="description">
                </div> 
                <div class="mb-3">
                    <label for="amount" class="form-label">Cantidad: </label>
                    <input class="form-control" type="number"   [(ngModel)]="amount" name="amount">
                </div> 
                <div class="mb-3 d-grid">
                <button type="button" class="btn submit" (click)="transfer()">Depositar</button>

                </div>

               
            </form>

            
        
        </div>      
    </div>




 </div>   
    

</div>
