<div class="login">
    <div class="header"><h2>Banco Ripley</h2></div>
 <div class="container">



        <div class="form-container">
            <h4 >Acceso Banca en Linea</h4>
            <form action="">
           
                <div class="mb-3">
                    <label for="bankUser" class="form-label">Usuario: </label>
                    <input class="form-control" type="text"   [(ngModel)]="bankUser" name="bankUser">
                </div>
                <div class="mb-3">
                <label for="bankPassword" class="form-label">Contraseña: </label>
                <input class="form-control" type="password"  [(ngModel)]="bankPassword" name="bankPassword">
                </div>  
                <div class="mb-3 d-grid">
                <button type="button" class="btn submit" (click)="login()">Entrar</button>
                <p> Si no tiene una cuenta, puede crear una en linea haciendo <a href="/singup">click acá</a></p>
                </div>

               
            </form>
            
           
        
        </div>   
 </div>   
    
</div>