.header{
    background-color: #4f2d7f;
    color: white;
    padding: 1rem;
//    box-shadow: 5px 5px 5px #ccc;
}

.form-container{
    box-shadow: 1px 1px 10px 5px rgb(169, 169, 169);
    border: 1px solid #eee;
    padding: 2rem;
    background-color: white;
    color: black;
    margin-top: 10rem;
}
.form-container h4{
    text-align: center;
}
.form-container form{
    padding: 2rem;
}
.container{
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
  
}
.btn.login{
    background-color: #4f2d7f;

}
.login{
    background-color: #ddd;
    height: 100%;
    color: white;

}