.leftSide{
    background-color: #4f2d7f;
    color: white;
    padding: 1rem;
    top: 0;
    padding-top: 5rem;
    margin-top:0;
    margin: 0;
    width: 300px;

    height: 100%;

    ul.list-group li.list-group-item{
        size: 2rem;
        background-color: #4f2d7f;
        color: white;
    }
}
