<div class="leftSide">
<ul class="list-group">
    <a href="/"><li class="list-group-item">Estado de cuenta</li></a>
   <a href="/deposit"><li class="list-group-item">Depositar</li></a>
   <a href="/withdraw"><li class="list-group-item">Retirar</li></a>
    <a href="/transfer"><li class="list-group-item">Transferir</li></a>
    <a href="#" (click)="logout()"><li class="list-group-item">Salir</li></a>
  </ul>
</div>