<div class="login">
    <div class="header"><h2>Banco Ripley</h2></div>
 <div class="container">


        
        <div class="form-container">
          

            <h4 >Deposita dinero</h4>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre: </label>
                    <input class="form-control" type="text"   [(ngModel)]="name" name="name">
                </div> 
                <div class="mb-3">
                    <label for="rut" class="form-label">RUT: </label>
                    <input class="form-control" type="text"   [(ngModel)]="rut" name="rut">
                </div> 
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input class="form-control" type="text"   [(ngModel)]="email" name="email">
                </div> 
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña: </label>
                    <input class="form-control" type="password"   [(ngModel)]="password" name="password">
                </div> 
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirma la Contraseña: </label>
                    <input class="form-control" type="password"   [(ngModel)]="confirmPassword" name="confirmPassword">
                </div> 
                <div class="mb-3 d-grid">
                <button type="button" class="btn submit" (click)="singup()">Registrarse</button>

                </div>

               
            </form>
           
        
        </div>   
    </div>   
       
   </div>