html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.rightSide{
    width: 100%;
    justify-content:center;
    margin-left: 3rem;
    height: 100%;
}

.form-container{
  //  box-shadow: 1px 1px 10px 5px rgb(169, 169, 169);
    border: 1px solid #eee;
    padding: 1rem;
    margin-top: 8rem;;
    background-color: white;
    color: black;
    height: fit-content;
}
.form-container h4{
    text-align: center;
}
.form-container form{
    padding: 2rem;
    
}

.table{
    margin-top: 2rem;
}

td,th{
    padding-right:  20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.container{
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0!important;
    display:flex;

}
.btn.submit{
    background-color: #4f2d7f;
    color: white;

}
.activity{
    background-color: #ddd;
    height: 100%;
    padding: 0px;
    color: white;

}
